/* Responsive menu */
#burger {
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

#burger i {
    font-size: 35px;
    color:white;
}

/* If you want to change the main menu breakpoints*/
@media screen and (max-width:899px) {
    body #main-menu-wrapper {
        display: none;
        /* Don't touch this line ! */
    }

    #main-menu-wrapper li.menu-item-has-children>ul:not(.pll-parent-menu-item ul){
        display:none;
    }
}

@media screen and (min-width:900px) {
    #burger {
        display: none;
        /* Don't touch this line ! */
    }

    #main-menu-wrapper i.menu-arrow{
        display:none;
    }
}